<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ninanina.wushanvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WushanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.WatchLaterActivity"></activity>
        <activity
            android:name=".ui.home.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tag.TagVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.DownloadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.video.PlaylistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.me.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Full" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2117487515590175~1101840862" />

        <activity
            android:name=".ui.video.VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.Full"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.ninanina.wushanvideo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>